html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: url("../images/banner.jpg");
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14vh;
    animation: slideDown 1s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header__nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65%;
    border-bottom: 1px solid #ffffff ;
}

.header__logo {
    flex: 1;
}

.header__logo img {
    width: 20%;
    transition: transform 0.5s;
}

.header__logo img:hover {
    transform: scale(1.1);
}

.header__links {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: #194643;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-family: calibri;
    margin-left: 10px;
    will-change: transform;
    transition: background-color 0.5s, transform 0.5s;
}

.header__link:hover {
    background-color: #4dc0a5;
    transform: scale(1.1);
}

.header__nav2 {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
    align-items: center; /* Centra los elementos verticalmente */
    height: 35%;
    background-color: #4dc0a5;
    padding-left: 3px; /* Separación del borde izquierdo */
}

.header__search-container {
    display: flex;
    justify-content: flex-end; /* Distribuye el espacio entre los elementos hijos */
    align-items: center;
    width: 50%; /* Ocupa el 50% del ancho de .header__nav2 */
    height: 80%; /* Un poco más pequeño que el alto de .header__nav2 */
}

.header__menu-desplegable {
    display: flex;
    justify-content: flex-start; /* Distribuye el espacio entre los elementos hijos */
    align-items: center;
    width: 50%; /* Ocupa el 50% del ancho de .header__nav2 */
    height: 80%; /* Un poco más pequeño que el alto de .header__nav2 */
}

.fas.fa-bars {
    margin-left: 10px;
    color: white;
    padding: 4px; /* Ajusta según tus necesidades */
    border-radius: 50%; /* Esto hará que el fondo sea completamente redondo */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.header__menu-desplegable p{
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    margin-left: 10px;
}

.header__buscador {
    box-sizing: border-box;
    width: 80%; /* Ocupa el 80% del ancho de .header__search-container */
    background-color: #fff;
    margin-right: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.header__buscador:focus {
    border-color: #4dc0a5;
}

.fas.fa-search {
    margin-right: 10px;
    color: white;
    padding: 4px; /* Ajusta según tus necesidades */
    border-radius: 50%; /* Esto hará que el fondo sea completamente redondo */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.fas.fa-search:hover, .fas.fa-bars:hover {
    transform: scale(1.1);
    color: #000000;
    background-color: rgb(255, 255, 255); /* Fondo negro al pasar el cursor sobre el ícono */
}

/*------------------------------MENU DESPLEGABLE---------------------------*/

.side-menu.open {
    left: 0;
}

.side-menu {
    position: fixed;
    margin-top: 14vh;
    left: -250px; /* El menú comienza oculto a la izquierda */
    width: 250px;
    height: 100vh;
    background-color: #194643;
    overflow-y: auto; /* Permite desplazarse si el contenido es demasiado largo */
    transition: left 0.3s; /* Efecto de deslizamiento */
    z-index: 999; /* Asegura que el menú esté por encima de otros elementos */
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
}

.side-menu li:last-child {
    border-bottom: none;
}

.side-menu a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    display: block;
}

.side-menu a:hover {
    background-color: #000000;
    border-radius: 3px;
    padding: 3px;
}

.side-menu__links-categorias {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*------------------------------MAIN------------------------------------*/

main {
    margin-top: 14vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/*-------------------------PAGINA DE CONFIGURACIONES-------------------------*/
.configuraciones {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.configuraciones div {
    margin-bottom: 20px;
}
.configuraciones h1{
    color: #194643;
}

.configuraciones h2 {
    margin-bottom: 10px;
}

.configuraciones h3 {
    display: inline-block;
}
.edicion-categorias, .edicion-categorias{
    width: 100%;
    border-top: 5px double #194643;
    border-bottom: 5px double #194643;
}

.configuraciones input[type="number"],
.configuraciones input[type="text"],
.configuraciones input[type="file"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.configuraciones button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.configuraciones button:hover {
    background-color: #45a049;
}

#mensajeConfirmacion {
    position: fixed;
    bottom: 20px;
    left: -100%; /* Comenzar fuera de la pantalla */
    transform: translateX(-50%);
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: block; /* Cambiado a block */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
    opacity: 0; /* Comienza invisible */
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transiciones para el movimiento y la opacidad */
}


/*------------------------CATEGORIAS Y PRODUCTOS DE INCIO---------------------*/
.categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 5px;
    scroll-margin-top: 10ex;
}

.categoria__title {
    color: #000000;
    font-size: 1.6em;
    font-family:'Rajdhani', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    animation: slideRight 2s ease-out;
}

@keyframes slideRight {
    0% {transform: translateX(-100%);}
    50% {transform: translateX(5%);}
    100% {transform: translateX(0%);}
}

.categoria__title:hover{
    transition: 0.5s;
    color: #194643;

}

.product {
    animation: zoomIn 1.5s ease-out;
    opacity: 1;
    width: 25%;
    margin: 10px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(190, 190, 190);
    font-family: calibri;
    display: flex;/* Establece el div como contenedor flex */
    flex-direction: column;/* Los elementos hijos (como la imagen) se apilan verticalmente */
    justify-content: space-evenly;/* Centra los elementos hijos horizontalmente */
    align-items: center;
    text-align: center;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.product:hover {
    box-shadow: 3px 3px 10px #000000a9;
}

.product__btn i {
    margin-right: 5px;/* Espacio entre el ícono y el texto */
}

.product__description,
.product__code,
.product__price {
    margin: 5px 0;
}

.product__btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #194643;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.product__btn:hover {
    background-color: #000000;
}

.product__btn-icon {
    height: 1%;
    width: 1%;
    margin-right: 5px;/* Espacio entre el ícono y el texto */
    vertical-align: middle;/* Alinea verticalmente el ícono con el texto */
}

.product img{
    border-radius: 10px;
    width: 50%;
}

.product__btn--added {
    background-color: #4dc06a;
    color: #fff;
}/*Clase para cuando "esta agregado al carrito*/

.cantidad {
    display: none; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.selector-cantidad {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    margin: 0 auto 7px auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.selector-cantidad button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #194643;
    transition: background-color 0.3s, transform 0.3s;

}

.selector-cantidad button:hover {
    background-color: #4dc0a5;
}

.selector-cantidad button:active {
    transform: scale(0.95);
}

.cantidad-input {
    width: 30px;
    height: 20px;
    border: 2px solid #194643;
    border-radius: 5px;
    text-align: center;
    color: #194643;
    font-size: 16px;
}

.btn-agregar {
    background-color: #194643;
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
    letter-spacing: 1px;
}

.btn-agregar:hover {
    background-color: #4dc0a5;
}

.btn-agregar:active {
    transform: scale(0.95);
}

.product__btn--added {
    background-color: #4dc06a;
    color: #fff;
}

.footer {
    background-color: #194643;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Rajdhani', sans-serif;
    height: 10vh;
}

/*-------------------------PAGINA DE PEDIDOS------------------------*/

.carrito-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.carrito-container h2{
    color: #194643;
    font-size: 1.6em;
    font-family:'Rajdhani', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

th{
    font-size: 1em;
    font-family: Poppins,sans-serif;
    text-align: left;
    font-weight: bold;
}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #bbbbbb;
    text-align: left;
    font-size: 1em;
    color: #8f8f8f;
    font-family: Poppins,sans-serif;
}

.btn-confirmar-pedido{
    background-color: #194643;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.btn-confirmar-pedido:hover{
    background-color: #11312f;
}

.btnEliminarPedido{
    background-color: #cf0606;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}

.btnEliminarPedido:hover{
    background-color: #a30505;
}

.datos-cliente {
    width: 80%;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.datos-cliente h3 {
    margin-bottom: 15px;
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
    width: 100%; /* Ancho completo dentro de su contenedor */
    height: 100px; /* Altura fija */
}


/*----------------------------Responsive------------------------------------*/

@media (max-width: 768px) {
    .header__logo img {
        width: 40%;
    }

    .header__nav1 .header__link:not(#cartLink) {
        display: none;
    }

    .side-menu__top-links {
        display: block;
        border-bottom: 1px solid #ffffff;
    }

    .side-menu .side-menu__top-links a {
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 2px;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: calibri;
        display: block;
    }

    .side-menu .side-menu__top-links a:hover {
        background-color: #000000;
        border-radius: 3px;
        padding: 3px;
    }

    .configuraciones {
        padding: 15px;
    }

    .configuraciones div {
        flex-direction: column;
        align-items: flex-start;
    }

    .configuraciones input{
        width: 90%;
        margin-bottom: 10px;
    }

    .product {
        width: 30%;
    }
}

@media (max-width: 480px) {

    .header {
        background: url("../images/banner-mobile.jpg");
        background-size: contain;
        height: 12vh;
    }
                    
    .header__logo img {
        width: 60%;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating {
        0% {transform: translateY(2px);}
        50% {transform: translateY(-3px);}
        100% {transform: translateY(2px);}    
    }

    .header__nav1 .header__link:not(#cartLink) {
        display: none;
    }

    .side-menu{
        margin-top: 12vh;
    }

    .side-menu__top-links {
        display: block;
        border-bottom: 1px solid #ffffff;
    }

    .side-menu .side-menu__top-links a {
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 2px;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: calibri;
        display: block;
    }

    .side-menu .side-menu__top-links a:hover {
        background-color: #000000;
        border-radius: 3px;
        padding: 3px;
    }
    
    
    main{
        margin-top: 12vh;
    }

    .configuraciones {
        padding: 10px;
    }

    .configuraciones h2, .configuraciones h1 {
        font-size: 1.2em;
    }
    
    .configuraciones input[type="file"] {
        font-size: 0.8em;
    }

    .product {
        width: 39%;
    }

    .product img{
        width: 70%;
        height: auto;
    }

    p{
        font-size: 0.9em;
    }

    
    .main-pedidos main{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 80%;
    }
    
    .carrito-container{
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;
    }
    
}

@media (max-width: 400px) {

    .configuraciones h2 {
        font-size: 1em;
    }

    .configuraciones input[type="file"] {
        font-size: 0.7em;
    }
    
    .product {
        width: 38%;
        margin: 5px 2px 5px 2px;
    }

    .product img{
        width: 70%;
        height: auto;
    }
    
    p{
        font-size: 0.8em;
    }
    
    .carrito-container h2{
        padding-left: 0px;
        margin-left: 0px;
        font-size: 1em;
        font-weight: 600;
        width: 100%;
        padding: 2px;
    }

    th{
        padding-left: 0px;
        margin-left: 0px;
        font-size: 0.8em;
    }
    
    td{
        padding-left: 0px;
        margin-left: 0px;
        font-size: 0.8em;;
    }

    .btn-confirmar-pedido{
        background-color: #194643;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    
    .btn-confirmar-pedido:hover{
        background-color: #11312f;
    }
    
    .btnEliminarPedido{
        font-size: 0.7em;
    }
    
}